
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <!-- <div class="user-panel"> -->
        <!-- <div class="image float-left">
        
          <img src="assets/images/user2-160x160.jpg" class="rounded-circle" alt="User Image">
     
        </div> -->
        <!-- <div class="info float-left">
        
          <a routerLink="/dashboard">  <p>Minimal-Art Template</p><i class="fa fa-circle text-success"></i> Online</a>
        </div> -->
		  <!-- search form -->
      <!-- <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form> -->
      <!-- /.search form -->
      <!-- </div> -->
      
      <!-- sidebar menu -->
      <ul class="sidebar-menu" data-widget="tree">
        
        <!-- <li class="treeview active">
          <a routerLink="/dashboard">
            <i class="fa fa-dashboard"></i>
            <span>Dashboard</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="active"><a href="">Dashboard 1</a></li>
          </ul>			
        </li> -->
        
         <li class="treeview">
          <a routerLink="/employee_master">
            <i class="fa fa-files-o"></i>
            <span>Empolyee Master</span>
          </a>
         
        </li> 


        <!-- <li class="treeview">
          <a routerLink="/employee_address">
            <i class="fa fa-map-marker"></i>
            <span>Employee Address</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="">Boxed</a></li>
            <li><a href="">Collapsed Sidebar</a></li>
          </ul>
        </li> -->
		  
        <!-- <li class="treeview">
          <a href="#">
            <i class="fa fa-files-o"></i>
            <span>Employee Address</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
        <li class="treeview">
         
          <a routerLink="/efm">
            <i class="fa fa-users"></i>
            <span>Employee Family Member</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="">Boxed</a></li>
            <li><a href="">Collapsed Sidebar</a></li>
          </ul>
        </li>      </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="pages/layout/boxed.html">Boxed</a></li>
            <li><a href="pages/layout/collapsed-sidebar.html">Collapsed Sidebar</a></li>
          </ul>
        </li> -->

      

        <!-- <li class="treeview">
          <a href="#">
            <i class="fa fa-th"></i>
            <span>Employee Family Membe</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="pages/widgets/widgets.html">Widgets</a></li>
            <li><a href="pages/widgets/weather.html">Weather</a></li>
            <li><a href="pages/widgets/calendar.html">Calendar</a></li>
          </ul>
        </li> -->



        <!-- <li class="treeview">
          <a routerLink="/employee_banksdetailese">
            <i class="fa fa-university"></i>
            <span>Employee Bank Detail</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="pages/widgets/widgets.html">Widgets</a></li>
            <li><a href="pages/widgets/weather.html">Weather</a></li>
            <li><a href="pages/widgets/calendar.html">Calendar</a></li>
          </ul>
        </li> -->


        <!-- <li class="treeview">
          <a href="#">
            <i class="fa fa-pie-chart"></i>
            <span>Employee Bank Details</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="pages/charts/chartjs.html">ChartJS</a></li>
            <li><a href="pages/charts/morris.html">Morris</a></li>
            <li><a href="pages/charts/flot.html">Flot</a></li>
            <li><a href="pages/charts/inline.html">Inline charts</a></li>
          </ul>
        </li> -->



        <!-- <li class="treeview">
          <a routerLink="/payment">
            <i class="fa fa-money"></i>
            <span> Pay Entitlement</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="">ChartJS</a></li>
            <li><a href="">Morris</a></li>
            <li><a href="">Flot</a></li>
            <li><a href="">Inline charts</a></li>
          </ul>
        </li> -->


        <!-- <li class="treeview">
          <a routerLink="/documents">
            <i class="fa fa-file-text"></i>
            <span> Document</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="">ChartJS</a></li>
            <li><a href="">Morris</a></li>
            <li><a href="">Flot</a></li>
            <li><a href="">Inline charts</a></li>
          </ul>
        </li> -->

      
<!-- 
        <li class="treeview">
          <a href="#">
            <i class="fa fa-laptop"></i>
            <span>UI Elements</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="pages/UI/general.html">General</a></li>
            <li><a href="pages/UI/cards.html">User Cards</a></li>
            <li><a href="pages/UI/tab.html">Tab</a></li>
            <li><a href="pages/UI/sweatalert.html">Sweet Alert</a></li>
            <li><a href="pages/UI/notification.html">Notification</a></li>
            <li><a href="pages/UI/icons.html">Icons</a></li>
            <li><a href="pages/UI/buttons.html">Buttons</a></li>
            <li><a href="pages/UI/sliders.html">Sliders</a></li>
            <li><a href="pages/UI/timeline.html">Timeline</a></li>
            <li><a href="pages/UI/modals.html">Modals</a></li>
          </ul>
        </li> -->
        <!-- <li class="treeview">
          <a href="#">
            <i class="fa fa-edit"></i> <span>Forms</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="pages/forms/general.html">General Elements</a></li>
            <li><a href="pages/forms/advanced.html">Advanced Elements</a></li>
            <li><a href="pages/forms/editors.html">Editors</a></li>
            <li><a href="pages/forms/form-validation.html">Form Validation</a></li>
            <li><a href="pages/forms/form-wizard.html">Form Wizard</a></li>
            <li><a href="pages/forms/code-editor.html">Code Editor</a></li>
            <li><a href="pages/forms/editor-markdown.html">Markdown</a></li>
            <li><a href="pages/forms/xeditable.html">Xeditable Editor</a></li>
          </ul>
        </li> -->
        <!-- <li class="treeview">
          <a href="#">
            <i class="fa fa-table"></i> <span>Tables</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="pages/tables/simple.html">Simple tables</a></li>
            <li><a href="pages/tables/data.html">Data tables</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-envelope"></i> <span>Mailbox</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="pages/mailbox/mailbox.html">Inbox</a></li>
            <li><a href="pages/mailbox/compose.html">Compose</a></li>
            <li><a href="pages/mailbox/read-mail.html">Read</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-map"></i> <span>Map</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="pages/map/map-google.html">Google Map</a></li>
            <li><a href="pages/map/map-vector.html">Vector Map</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-folder"></i> <span>Sample Pages</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="pages/examples/invoice.html">Invoice</a></li>
            <li><a href="pages/examples/profile.html">Profile</a></li>
            <li><a href="pages/examples/gallery.html">Gallery</a></li>
            <li><a href="pages/examples/faq.html">FAQs</a></li>
            <li><a href="pages/examples/login.html">Login</a></li>
            <li><a href="pages/examples/register.html">Register</a></li>
            <li><a href="pages/examples/lockscreen.html">Lockscreen</a></li>
            <li><a href="pages/examples/404.html">404 Error</a></li>
            <li><a href="pages/examples/500.html">500 Error</a></li>
            <li><a href="pages/examples/blank.html">Blank Page</a></li>
            <li><a href="pages/examples/pace.html">Pace Page</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-share"></i> <span>Multilevel</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#">Level One</a></li>
            <li class="treeview">
              <a href="#">Level One
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="#">Level Two</a></li>
                <li class="treeview">
                  <a href="#">Level Two
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                  </a>
                  <ul class="treeview-menu">
                    <li><a href="#">Level Three</a></li>
                    <li><a href="#">Level Three</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="#">Level One</a></li>
          </ul>
        </li>         -->
        
      </ul>
    </section>
    <!-- /.sidebar -->
    <!-- <div class="sidebar-footer"> -->
		<!-- item-->
		<!-- <a href="#" class="link" data-toggle="tooltip" title="" data-original-title="Settings"><i class="fa fa-cog fa-spin"></i></a> -->
		<!-- item-->
		<!-- <a href="#" class="link" data-toggle="tooltip" title="" data-original-title="Email"><i class="fa fa-envelope"></i></a> -->
		<!-- item-->
		<!-- <a href="#" class="link" data-toggle="tooltip" title="" data-original-title="Logout"><i class="fa fa-power-off"></i></a> -->
	<!-- </div> -->
  </aside>
