 <!-- Content Wrapper. Contains page content -->
 <app-header></app-header>
 <app-sidebar></app-sidebar>
 <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard
        <small><b>Integrated Financial Management System</b></small>
      </h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xl-4 col-md-6 col-12">
          <a routerLink="/employee_profile">
          <div class="info-box">
            <span class="info-box-icon push-bottom bg-blue"><i class="fa fa-address-card" aria-hidden="true"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Employee Profile</span>
              <!-- <span class="info-box-number">450</span> -->

              <div class="progress">
                <div class="progress-bar bg-blue" style="width: 45%"></div>
              </div>
              <!-- <span class="progress-description text-muted">
                    45% Increase in 28 Days
                  </span> -->
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </a>
        </div>
        <!-- /.col -->
        <div class="col-xl-4 col-md-6 col-12">
          <div class="info-box">
            <a >
            <span class="info-box-icon push-bottom bg-blue"><i class="fa fa-map-marker"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Employee Address</span>
              <!-- <span class="info-box-number">15,489</span> -->

              <div class="progress">
                <div class="progress-bar bg-blue" style="width: 40%"></div>
              </div>
              <!-- <span class="progress-description text-muted">
                    40% Increase in 28 Days
                  </span> -->
            </div>
            <!-- /.info-box-content -->
          </a>
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-xl-4 col-md-6 col-12">
          <a >
          <div class="info-box">
            <span class="info-box-icon push-bottom bg-blue"><i class="fa fa-users"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Employee Family Member</span>
              <!-- <span class="info-box-number">55,005</span> -->

              <div class="progress">
                <div class="progress-bar bg-blue" style="width: 85%"></div>
              </div>
              <!-- <span class="progress-description text-muted">
                    85% Increase in 28 Days
                  </span> -->
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </a>
        </div>
        <!-- /.col -->
        <div class="col-xl-4 col-md-6 col-12">
          <a >
          <div class="info-box">
            <span class="info-box-icon push-bottom bg-blue"><i class="fa fa-university"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Employee Bank Detaile</span>
              <!-- <span class="info-box-number">13,921</span> -->

              <div class="progress">
                <div class="progress-bar bg-blue" style="width: 50%"></div>
              </div>
              <!-- <span class="progress-description text-muted">
                    50% Increase in 28 Days
                  </span> -->
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </a>
        </div>
         <!-- /.col -->
         <div class="col-xl-4 col-md-6 col-12">
          <a >
            <div class="info-box">
              <span class="info-box-icon push-bottom bg-blue"><i class="fa fa-money"></i></span>
  
              <div class="info-box-content">
                <span class="info-box-text">Pay Entitlement</span>
                <!-- <span class="info-box-number">13,921</span> -->
  
                <div class="progress">
                  <div class="progress-bar bg-blue" style="width: 50%"></div>
                </div>
                <!-- <span class="progress-description text-muted">
                      50% Increase in 28 Days
                    </span> -->
              </div>
              <!-- /.info-box-content -->
            </div>
          </a>
            <!-- /.info-box -->
          </div>

           <!-- /.col -->
        <div class="col-xl-4 col-md-6 col-12">
          <a >
            <div class="info-box">
              <span class="info-box-icon push-bottom bg-blue"><i class="fa fa-file-text"></i></span>
  
              <div class="info-box-content">
                <span class="info-box-text">Document</span>
                <!-- <span class="info-box-number">13,921</span> -->
  
                <div class="progress">
                  <div class="progress-bar bg-blue" style="width: 50%"></div>
                </div>
                <!-- <span class="progress-description text-muted">
                      50% Increase in 28 Days
                    </span> -->
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </a>
          </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->			
		
      <div class="row">
        
        <!-- /.col -->
		
		<div class="col-xl-6 connectedSortable">
			
          <!-- /.box -->
      	</div>         
        <!-- /.col -->        
       </div>        
      <!-- /.row -->		

	  
	
      
	</section>
  
    <!-- /.content -->
  </div>


  <app-footer></app-footer>


  <!-- /.content-wrapper --> 